	url = https://github.com/bytedance/android-inline-hook.git
	url = https://github.com/bytedance/android-inline-hook.git
[submodule "native/shadowhook"]
	path = native/shadowhook
	url = https://github.com/bytedance/android-inline-hook.git
